@model QuizModel
@{
    ViewData["Title"] = "Ušní kvíz";
}

@if (Model == null)
{
    <div class="text-center">
        <h1 class="display-4">Nemáme dostatek uší.</h1>
        <p>Bohužel nemáme dostatek uší, aby jsme vám mohli zobrazit kvíz. Zkuste prosím rozšířit naši ušní databázi a pomoci tak i ostatním.</p>
    </div>
}
else
{
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-7">
            <h1>Komu pak patří toto krásné ouško?</h1>

            <img src="@Url.Action("EarPicture", new { filename = Model.Answer.FileName })" style="width: 100%; margin-bottom: 10px;" />

            <form method="post">
                @foreach (var option in Model.Options)
                {
                    <button type="submit" class="btn btn-primary btn-block" name="answer" value="@option.Option.Id">@option.Option.Name</button>
                }
            </form>
        </div>
        <div class="col"></div>
    </div>
}