@{ 
    ViewData["Title"] = "Přihlásit";
}

<div class="row">
    <div class="col"></div>
    <div class="col-lg-5">
        <form method="post">
            <div class="form-group">
                <label for="username">Zadej jméno</label>
                <input type="text" class="form-control" id="username" name="username" autofocus>
            </div>
            <button type="submit" class="btn btn-primary">Jdeme na testování uší</button>
        </form>
    </div>
    <div class="col"></div>
</div>